@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poiret+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --clr-grey: #2b2727;
  --clr-grey-2: #2b2727;

  --clr-dark-saffron: #FF7722;
  --clr-light-saffron: #FFA569;
}

body {
  margin: 0;
  font-family: "Open Sans";
  --webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --------------------- Header CSS ----------------------------*/

header {
  background-image: linear-gradient(45deg, var(--clr-dark-saffron) 10%, var(--clr-light-saffron) 20%, var(--clr-dark-saffron) 50%, var(--clr-light-saffron) 120%);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-color: var(--clr-grey);
  min-height: 25vh;
  position: relative
}

.header_title {
  color: var(--clr-white);
  position: absolute;
  bottom: 25px;
  left: 10%;
  max-width: 450px;
  font-family: "Open Sans";
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 300;
}


/* --------------------- Navbar Css ---------------------------*/

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.nav_brand {
  display: flex;
  align-items: center;
  padding: 0 75px;
  grid-column: 1 / span 3;
  height: 65px;
}

.nav_brand h1 {
  color: var(--clr-white);
  font-family: "Poiret One";
  font-size: 1.50em;
  font-style: italic;
  margin-right: 10px;
}

.nav_search {
  background: rgba(255, 255, 255, 0.2);
  background-image: url("./assets/magnifying-glass.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  color: var(--clr-white);
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 4px;
  margin: 0 5px;
  padding-left: 30px;
}

.nav_search::placeholder {
  color: var(--clr-white);
  font-family: "Open Sans";
}

.nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
}

.nav_links li {
  height: 100%;
  min-width: 60px;
}

.nav_links li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  color: var(--clr-white);
  padding: 0 10px;
  font-weight: 600;
  text-decoration: none;
}

.nav_links li a:hover {
  background-color: rgba(34, 64, 109, 0.3);
  border-radius: 50%;
}

.nav_connect {
  width: 175px;
  height: 50px;
  margin: 0 75px 0 auto;
  background: rgba(255, 255, 255, 0.2);
  color: var(--clr-white);
  border: none;
  border-radius: 4px;
  font-family: "Open Sans";
  font-size: 1.10em;
  font-weight: 600;
  cursor: pointer;
  transition: all 25ms ease;
}

.nav_connect:hover {
  background-color: var(--clr-dark-saffron);
}

/* --------------------- Cards Css ------------------------ */

.card {
  align-items: center;
  width: 95%;
  max-width: 850px;
  height: 75px;
  margin: 25px auto;
  position: relative;
  transition: all 250ms ease;
}

.card_info {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  padding: 10px;
  text-align: left;
  transition: 250ms ease all
}

.card_info:hover {
  background: rgba(18, 90, 198, 0.2);
}

.card_info p small span {
  font-weight: 700;
}

.card_info p small {
  font-size: clamp(0.80rem, 2vw, 0.90rem);
}

.card_date {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  place-self: center;
  font-size: clamp(0.95rem, 3vw, 1.15rem);
  font-weight: 300;
}

.card_name {
  grid-column: 3 / span 6;
  grid-row: 1;
  place-self: center;
  align-self: end;
  font-family: "Open Sans";
  font-size: clamp(0.90rem, 3vw, 1.10rem);
  font-weight: 600;
  text-align: center;
}

.card_location {
  grid-column: 3 / span 6;
  grid-row: 2;
  place-self: center;
  align-self: start;
  font-size: 1.15rem;
  font-weight: 300;
  text-align: center;
}

.card_cost {
  grid-column: 9 / span 1;
  grid-row: 1 / span 2;
  place-self: center;
  font-size: clamp(1rem, 3vw, 1.10rem);
  font-weight: 300;
}

.card_cost strong {
  font-family: "Open Sans";
  font-size: clamp(1.10rem, 3vw, 1.50rem);
  font-weight: 700;
  margin: 0;
}

.card_button,
.car_button_out {
  grid-column: 10 / span 3;
  grid-row: 1 / span 2;
  place-self: center;
  width: 125px;
  height: 40px;

  background-color: var(--clr-light-saffron);
  color: var(--clr-white);

  margin-left: auto;
  border: none;
  border-radius: 4px;
  font-family: "Open Sans";
  font-weight: 600;
  cursor: pointer;
  transition: all 250ms ease;
}

.card_button:hover {
  background-color: var(--clr-dark-saffron);
}

.card_button:hover .card_button {
  border-color: var(--clr-grey-2);
}

.card_button_out {
  background-color: #BA1840;
}

.card hr {
  margin-top: 15px;
}